@font-face {
    font-family: 'BarlowCondensed-Regular';
    src: url('../fonts/BarlowCondensed-Regular.woff');
    font-style: normal;
    font-weight: 400;
}

*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin:0px;
    padding: 0px;
    background-color: black;
}

nav{
    padding: 0px;
    margin: 0px;
}
