@font-face {
    font-family: 'Barlow-Regular';
    src: url('../fonts/Barlow-Regular.woff')format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'BarlowCondensed-Regular';
    src: url('../fonts/BarlowCondensed-Regular.woff')format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Bellefair-Regular';
    src: url('../fonts/Bellefair-Regular.woff')format('woff');
    font-style: normal;
    font-weight: 400;
}

*{
    box-sizing: border-box;
}

:root{
    --lightBlue: #D0D6F9;
}

body{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin:0px;
    padding: 0px;
    background-color: black;
}

nav{
    padding: 0px;
    margin: 0px;
}

h1{
    padding: 0px;
    margin: 0px;
    color: white;
}

p{
    margin: 0px;
    padding: 0px;
}

.mainText{
    font: 400 18px/32px 'Barlow-Regular';
    color: var(--lightBlue);
}
