.crewMain {
    width: inherit;
    height: inherit;
    margin-top: 58px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    transition: opacity 0.5s ease-out;
    opacity: 1;
}

.crewIntroduction{
    width: 539px;
    height: 734px;
}


.crewRank {
    width: inherit;
    height: 37px;
    margin-top: 197px;
    color: rgba(255, 255, 255, 0.5);
    font: 400 32px/37px 'Bellefair-Regular';
}

.crewName {
    width: inherit;
    margin-top: 16px;
    color: white;
    font: 400 56px/64px 'Bellefair-Regular';
}

.crewDescription {
    width: inherit;
    margin-top: 24px;
}

.crewPicture {
    width: 539px;
    height: 734px;
    background-size: 500px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.1) 40px, rgba(0, 0, 0, 1) 80px);
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    .crewMain {
        margin-top: 48px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
    }

    .crewIntroduction{
        width: 512px;
        height: 305px;
    }

    .crewRank {
        height: 28px;
        margin-top: 40px;
        font: 400 24px/28px 'Bellefair-Regular';
    }

    .crewName {
        font: 400 40px/46px 'Bellefair-Regular';
    }

    .crewDescription {
        width: inherit;
        height: 117px;
        margin-top: 24px;
    }

    .crewPicture {
        width: 446px;
        height: 560px;
        background-size: contain;
        background-position: 50% 100%;
        margin-top: 32px;
    }
}


/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    .crewMain {
        width: 327px;
        height: 701px;
        margin-top: 24px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }
    
    .crewIntroduction{
        width: inherit;
        height: 319px;
    }
    
    
    .crewRank {
        width: inherit;
        height: 21px;
        margin-top: 40px;
        font: 400 24px/21px 'Bellefair-Regular';
    }
    
    .crewName {
        width: inherit;
        margin-top: 8px;
        font: 400 24px/28px 'Bellefair-Regular';
    }
    
    .crewPicture {
        width: 271px;
        height: 340px;
        background-size: contain;
        background-position: 50% 100%;
        mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.1) 10px, rgba(0, 0, 0, 1) 30px);
    }
}