.crewMain {
    width: inherit;
    height: inherit;
    margin-top: 58px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:absolute;
    transition: opacity 0.5s ease-out;
    opacity: 1;
}

.crewMain>div {
    width: 539px;
    height: 734px;
}

.crewRank{
    width: inherit;
    height: 37px;
    margin-top: 197px;
    color: rgba(255,255,255,0.5);
    font: 400 32px/37px 'Bellefair-Regular';
}

.crewName{
    width: inherit;
    margin-top: 16px;
    color: white;
    font: 400 56px/64px 'Bellefair-Regular';
}

.crewDescription{
    width: inherit;
    margin-top: 24px;
}

.crewPicture {
    background-size: 500px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.1) 40px,rgba(0, 0, 0, 1) 80px);
}