#home {
    width: 1440px;
    height: 1024px;
    display: flex;
    justify-content: center;
    border: solid 1px red;
}

#homeMainContent {
    width: 1110px;
    height: 632px;
    margin-top: 264px;
    padding-top: 289px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#homeText {
    width: 540px;
    height: 343px;
}

#homeTextHeader {
    width: inherit;
    height: 34px;
    margin-bottom: 24px;
    font: 400 28px/33px 'BarlowCondensed-Regular';
    letter-spacing: 4px;
    color: var(--lightBlue);
}

#homeText h1 {
    width: inherit;
    height: 165px;
    font: 400 144px/165px 'Bellefair-Regular';
}

#homeTextMain{
    width: inherit;
    height: 96px;
    margin-top: 24px;
}

#homeExploreBt {
    width: 272px;
    height: 272px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease-out, color 0.5s ease-out;
    color: #0B0D17;
    background-color: white;
    border: none;
    cursor: pointer;
    font: 400 32px 'Bellefair-Regular';
}

#homeExploreBt:hover {
    box-shadow: 0 0 0 88px rgba(255,255,255,0.1);
    color: rgba(11,13,23,0.5)
}