#mainNavBar{
    width: 1440px;
    height: 96px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

#mainNavBar > div{
    height: inherit;
    display:flex;
    flex-direction: row;
}

#navBarLeft{
    width: 736px;
    padding-left: 64px;
    align-items: center;
    margin-right: -32px;
}

#logo{
    width: 48px;
    height: 48px;
    background: url('./img/logo.svg') center/48px no-repeat ;
}

#navBarline{
    z-index: 3;
    width: 560px;
    height: 1px;
    background-color: rgba(255,255,255,0.25);
    margin-left: 64px;
}

#navBarRight{
    width: 736px;
    padding-right: 64px;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.navbarSectionLink{
    height: 93px;
    margin-left: 48px;
    color: white;
}

.active {
    cursor: pointer;
    border-bottom: solid 3px rgba(255, 255, 255, 0);
    transition: border-bottom-color 0.75s ease-out;
}

.active:hover {
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.inactive{
    cursor: default;
    border-bottom: solid 3px white;
}


.sectionNumberDeco{
    font: 700 16px/93px 'BarlowCondensed-Bold';
    letter-spacing: 2.7px;
}

.sectionName{
    font: 400 16px/93px 'BarlowCondensed-Regular';
    letter-spacing: 2px;
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    #mainNavBar{
        width: 100vw;
        align-items: flex-start;
    }

    #navBarLeft{
        width: 128px;
        padding: 0px 39px;
        margin-right: 0px;
    }
    
    #navBarline{
        display: none;
    }
    
    #navBarRight{
        width: 100%;
        padding: 0px 0px 0px 90px;
        justify-content: flex-start;
    }
    
    .navbarSectionLink{
        margin: 0px 48px 0px 0px;
    }
    
    .active {
        cursor: pointer;
        border-bottom: solid 3px rgba(255, 255, 255, 0);
        transition: border-bottom-color 0.75s ease-out;
    }
    
    .active:hover {
        border-bottom-color: rgba(255, 255, 255, 0.5);
    }
    
    .inactive{
        cursor: default;
        border-bottom: solid 3px white;
    }
    
    
    .sectionNumber{
        font: 700 16px/96px 'BarlowCondensed-Regular';
        letter-spacing: 2.7px;
    }
    
    .sectionName{
        font: 400 16px/96px 'BarlowCondensed-Regular';
        letter-spacing: 2px;
    }
}


/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    
}
