#mainNavBar {
    width: 1440px;
    height: 96px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navBarLeft {
    width: 736px;
    height: 96px;
    display: flex;
    flex-direction: row;
    padding-left: 64px;
    align-items: center;
    margin-right: -32px;
}

#logo {
    width: 48px;
    height: 48px;
    background: url('./img/logo.svg') center/48px no-repeat;
}

#navBarline {
    z-index: 3;
    width: 560px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 64px;
}

#navBarRight {
    width: 736px;
    height: 96px;
    display: flex;
    flex-direction: row;
    padding-right: 64px;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.navbarSectionLink {
    height: 93px;
    margin-left: 48px;
    color: white;
}

.active {
    cursor: pointer;
    border-bottom: solid 3px rgba(255, 255, 255, 0);
    transition: border-bottom-color 0.75s ease-out;
}

.active:hover {
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.inactive {
    cursor: default;
    border-bottom: solid 3px white;
}


.sectionNumberDeco {
    font: 700 16px/93px 'BarlowCondensed-Bold';
    letter-spacing: 2.7px;
}

.sectionName {
    font: 400 16px/93px 'BarlowCondensed-Regular';
    letter-spacing: 2px;
}

#navBarMobile {
    width: 254px;
    height: 88px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;
}

.navBarMobileBlur {
    height: 880px!important;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

#navBarMobileTop {
    width: inherit;
    height: 88px;
    display: flex;
    align-items: center;
    padding-right: 24px;
    justify-content: flex-end;
}

#navBarMobileIcon {
    width: 24px;
    height: 21px;
    background-position: center;
    background-size: 24px 21px;
    background-repeat: no-repeat;
}

.burgerIcon {
    background-image: url('./img/icon-hamburger.svg');
}

.closeIcon {
    background-image: url('./img/icon-close.svg');
}

#navBarMobileMenu {
    width: inherit;
    height: 800px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

#navBarMobileLinks {
    width: inherit;
    height: 172px;
    margin-top: 80px;
    flex-direction: column;
    justify-content: space-between;
}

.mobilelinksHiden {
    display: none;
}

.mobilelinksDisplayed {
    display: flex;
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    #mainNavBar {
        width: 100vw;
        align-items: flex-start;
    }

    #navBarLeft {
        width: 128px;
        padding: 0px 39px;
        margin-right: 0px;
    }

    #navBarline {
        display: none;
    }

    #navBarRight {
        width: 100%;
        padding: 0px 0px 0px 90px;
        justify-content: flex-start;
    }

    .navbarSectionLink {
        margin: 0px 48px 0px 0px;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    #mainNavBar {
        width: 100vw;
        height: 88px;
        align-items: flex-start;
        justify-content: flex-end;
    }

    #navBarLeft {
        width: 100%;
        height: 88px;
        padding: 0px 0px 0px 24px;
        margin-right: 0px;
    }

    #logo {
        width: 40px;
        height: 40px;
        background: url('./img/logo.svg') center/40px no-repeat;
    }

    #navBarline {
        display: none;
    }

    #navBarRight {
        display: none !important;
        background-color: transparent;
    }

    #navBarMobile {
        display: flex;
    }

    .navbarSectionLink {
        height: 19px;
        margin-left: 32px;
    }

    .active {
        border-bottom: none;
        border-right: solid 3px rgba(255, 255, 255, 0);
        transition: border-bottom-color 0.75s ease-out;
        transition: border-right-color 0.75s ease-out;
    }

    .active:hover {
        border-bottom-color: none;
        border-right-color: rgba(255, 255, 255, 0.5);
    }

    .inactive {
        border-bottom: none;
        border-right: solid 3px white;
    }

    .sectionNumberDeco {
        font: 700 16px/19px 'BarlowCondensed-Bold';
    }

    .sectionName {
        font: 400 16px/19px 'BarlowCondensed-Regular';
    }
}