nav{
    width: 1440px;
    height: 96px;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px!important;
}

nav > div{
    height: inherit;
    display:flex;
    flex-direction: row;
}

#navBarLeft{
    width: 736px;
    padding-left: 64px;
    align-items: center;
    margin-right: -32px;
}

#logo{
    width: 48px;
    height: 48px;
    background: url('./img/logo.svg') center/48px no-repeat ;
}

#navBarline{
    z-index: 3;
    width: 560px;
    height: 1px;
    background-color: rgba(255,255,255,0.25);
    margin-left: 64px;
}

#navBarRight{
    width: 736px;
    padding-right: 64px;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.navbarSectionLink{
    height: 93px;
    margin-left: 48px;
    color: white;
}

.active {
    cursor: pointer;
    border-bottom: solid 3px rgba(255, 255, 255, 0); /* El borde comienza invisible */
    transition: border-bottom-color 0.75s ease-out; /* Solo animamos el color del borde */
}

.active:hover {
    border-bottom-color: rgba(255, 255, 255, 0.5); /* Al hacer hover, el color aparece */
}

.inactive{
    border-bottom: solid 3px white;
}


.sectionNumber{
    font: 700 16px/96px 'BarlowCondensed-Regular';
    letter-spacing: 2.7px;
}

.sectionName{
    font: 400 16px/96px 'BarlowCondensed-Regular';
    letter-spacing: 2px;
}
