#technology{
    width: 1440px;
    height: 1024px;
    background: black url('./img/background-technology-desktop.jpg') top/cover no-repeat;
    display: flex;
    justify-content: center;
}

#technologyMainContent{
    width: 1110px;
    height: 632px;
    margin-top: 264px;
    border: solid 1px red;
}