#destinationMain{
    width: inherit;
    height: 734px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#destinationPic{
    width: 480px;
    height: 480px;
    margin: 0px 108px 0px 29px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./img/image-moon.png');
}

#destinationContent{
    width: 445px;
    height: 468px;
}

#destinationNavbar{
    width: inherit;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.destNavBarButton{
    height: 29px;
    font: 400 16px/19px 'BarlowCondensed-Regular';
    letter-spacing: 2px;
    margin-right: 32px;
}

.destNavBarInactive{
    color: white;
    border-bottom: solid 3px white;
}

.destNavBarActive{
    cursor: pointer;
    border-bottom: solid 3px rgba(255, 255, 255, 0);
    transition: border-bottom-color 0.5s ease-out,color 0.5s ease-out;
    color: var(--lightBlue);
}

.destNavBarActive:hover{
    border-bottom-color: rgba(255, 255, 255, 0.5);
    color: white;
}

#destinationPlanetName{
    width: inherit;
    height: 110px;
    margin-top: 40px;
    font: 400 96px/110px 'Bellefair-Regular';
}

#destinationMainText{
    width: inherit;
    height: 128px;
    margin-top: 16px;
}

#destinationData{
    width: inherit;
    height: 101px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-top: solid 1px #979797;
}

#destinationData > div{
    width: 210px;
    height: 61px;
    display: flex;
    flex-direction: column;
}

.destinationDataTitle{
    height: 17px;
    font: 400 14px/17px 'BarlowCondensed-Regular';
    color: var(--lightBlue);
}

.destinationDataDetail{
    height: 32px;
    font: 400 28px/1 'Bellefair-Regular';
    color: white;
    margin-top: 12px;
}

#destinationDistance{
}

#destinationTime{
}